header {
	background: #a70e0e;
	padding: 20px 0;
}

.caixa{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #fcfcfc;
	text-decoration: underline;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 50px 0;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 10px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produtos li:hover{
	border-color: #961515;
	
}

.produtos li:hover h2{
	font-size: 40px;
}

.produtos li:active{
	border-color: #088c19;
}


.produtos-preco{
	font-size: 22px;
	font-weight: bold;
	margin: 10px;
}

footer{
	background-color: #ccc;
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;
}

footer p{
	color: white;
	font-size: 12px;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}

input{
	
	border-radius: 5px;

}



form label{
	display: block;
	font-size: 20px;
	margin: 0 0 10px 0;
	
}

form .input-padrao{
	display: block;
	margin: 0 0 20px 0;
	padding: 10px 25px;
	width: 50%;
}

textarea{
	margin:0 0 20px 0;
}

.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background-color:rgb(206, 21, 21) ;
	color: aquamarine;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s all;
}

.enviar:hover{
	background-color: black;
	color: white;
	transform: scale(1.05);
}

table{
	margin: 20px 0 40px;
}

thead{
	background: #555;
	color: white;
	font-weight: bold;
}

td{
	border: 2px solid #000;
	padding: 15px 66px;
}

/*CSS da página principal*/
.banner{
	width: 100%;
}

.titulo-centralizado{
	
	text-align: center;
	font-size: 2.5em;
	margin: 1em 0 1em;
	font-family: 'Bebas Neue', sans-serif;

}

.principal p{
	margin: 0 0 1em;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	text-align: justify;
	
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.imagembeneficios{
	width: 60%;
}

.utensilios{
	width: 150px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa{
	padding: 3em 0;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

